@media only screen and (max-width: 480px)
{
	header
	{
		min-height: 50px;
		text-align: center;
	}
	.navbar-brand img
	{
		width: 80%;
	}

	.banner
	{
		min-height: 100px;
	}
	.carousel-control
	{
		display: none;
	}
	.carousel-indicators
	{
		display: none;
	}
	.carousel-caption
	{
		top: 30%;
		display: block;
	}
	.carousel-caption article
	{
		font-size: 20px;
    	line-height: 26px;
    	background: transparent;
    	margin-bottom: 0;
	}
	.carousel-caption p
	{
		font-size: 12px;
	    line-height: 12px;
	    padding: 0;
	    display: block;
	    background: transparent;
	}

	.intro h3
	{
		font-size: 25px;
		line-height: 31px;
	}
	.view_more
	{
		font-size: 12px;
    	padding: 5px 15px;
    	margin-top: 91px;
	}
	.services_box
	{
		margin-bottom: 50px;
	}
}


@media only screen and (min-width: 481px) and (max-width: 767px)
{
	header
	{
		min-height: 50px;
		text-align: center;
	}
	.navbar-brand img
	{
		width: 80%;
	}

	.banner
	{
		min-height: 100px;
	}
	.carousel-control
	{
		display: none;
	}
	.carousel-indicators
	{
		display: none;
	}
	.carousel-caption
	{
		top: 50%;
		display: block;
	}
	.carousel-caption article
	{
		font-size: 24px;
    	line-height: 30px;
    	background: transparent;
    	margin-bottom: 0;
	}
	.carousel-caption p
	{
		font-size: 15px;
	    line-height: 21px;
	    padding: 0;
	    display: block;
	    background: transparent;
	}

	.intro h3
	{
		font-size: 25px;
		line-height: 31px;
	}
	.view_more
	{
		font-size: 15px;
    	padding: 5px 18px;
    	margin-top: 48px;
	}
	.services_box
	{
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1000px)
{
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }


  .banner
  {
  	min-height: 200px;
  }
  .carousel-indicators
  {
  	display: none;
  }
  .carousel-caption
  {
  	top: 40%;
  }
  .carousel-caption article
  {
  	font-size: 30px;
  	line-height: 36px;
  }
  .carousel-caption p
  {
  	font-size: 15px;
    line-height: 21px;
  }
  .services_box
  {
  	padding-top: 25px;
  }
  .services_box i
  {
  	font-size: 45px;
  }
  .services_box a.read-more
  {
  	padding: 8px 25px;
  }
}