:root
{
	--main-color: #76c7c0;
	--main-btn-color: #62a29e;
	--main-btn-hover:#e5655d;
}
body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #f3f3f3;
	overflow-x: hidden;
}

.modal-content
{
	background: rgba(0,0,0,.2);
    box-shadow: none;
    border: none;
}
.modal-header
{
	border-bottom: none;
	padding: 10px;
	text-align: right;
	font-size: 20px;
}
.modal-header button i
{
	color: var(--main-btn-hover);
}
.searchButton
{
	position: absolute;
    top: 19px;
    right: 17px;
    background: transparent;
    border: transparent;
    font-size: 18px;
    
}
.searchButton i
{
	color: var(--main-btn-color);
}
.sticky
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 60px;
	z-index: 9999;
	transition: all .5s ease-in-out;
}
header
{
	min-height: 80px;
	background: var(--main-color);
	padding: 20px 0;
	font-size: 13px;
	line-height: 15.6px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
header:before
{
	content: url(../images/path.png);
	position: absolute;
	left: 0;
	bottom: -3px;
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
.navbar
{
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}
.navbar-toggle .icon-bar
{
	background: #fff;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
}
.navbar-nav
{
	padding: 10px 0 0;
}
.navbar-nav>li>a
{
	color: #fff;
	padding: 5px 20px;
	transition: all .5s ease-in-out;
}
.navbar-nav>li>.dropdown-menu
{
	margin-top: 20px;
	transition: all .5s ease-in-out;
}
.animation{
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes slideUpIn {
	 0% {
		 
		 -webkit-transform: translateY(20px);
	 }
	 100% {
		 
		 -webkit-transform: translateY(0);
	 }
	 
	 0% {
		 -webkit-transform: translateY(20px);
	 }
}

@keyframes slideUpIn {
	0% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(20px);
	}
}

.slideUpIn {
	-webkit-animation-name: slideUpIn;
	animation-name: slideUpIn;
}
.navbar-right .dropdown-menu
{
	right: auto;
	left: 2px;
}
.dropdown-menu
{
	background: var(--main-btn-hover);
	border: 0px;
	border-radius: 5px !important;
}
.dropdown-menu:before
{
	content: '';
	position: absolute;
	top: -10px;
    left: 14px;
    border-left: 10px solid rgb(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid var(--main-btn-hover);
}
.dropdown-menu li
{
	padding: 4px 5px;
}
.dropdown-menu li a
{
	--li-bg:rgba(255,255,255,.1);
	--li-hover:#76c7c0;
}
.dropdown-menu li a
{
	background: var(--li-bg);
	border-radius: 5px;
	padding: 5px 15px;
	color: #fff;
	transition: all .5s ease-in-out;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	background: var(--li-hover);
	color: #fff;
}


.nav>li.active>a, .nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	background-color: var(--main-btn-color);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.nav>li.dropdown>a:hover, .nav>li.dropdown>a:focus
{
	-moz-box-shadow: 0px 3px 0px 0px #e2534b;
	-webkit-box-shadow: 0px 3px 0px 0px #e2534b;
	box-shadow: 0px 3px 0px 0px #e2534b;
	background-color: var(--main-btn-hover);
}



.banner
{
	min-height: 400px;
	background: transparent;
}
.carousel-control.left, .carousel-control.right
{
	background-image:none;
}
.carousel-control
{
	opacity: 1;
}
.custom-left
{
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    -moz-box-shadow: 0px 3px 0px 0px #e2534b;
	-webkit-box-shadow: 0px 3px 0px 0px #e2534b;
	box-shadow: 0px 3px 0px 0px #e2534b;
	background-color: var(--main-btn-hover);
    padding: 0 10px;
    -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.custom-right
{
	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    -moz-box-shadow: 0px 3px 0px 0px #e2534b;
	-webkit-box-shadow: 0px 3px 0px 0px #e2534b;
	box-shadow: 0px 3px 0px 0px #e2534b;
	background-color: var(--main-btn-hover);
    padding: 0 10px;
    -webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.carousel-indicators li, .carousel-indicators li.active
{
	width: 25px;
	height: 2px;
	border-radius: none;
}
.carousel-indicators li.active
{
	background-color: var(--main-btn-hover);
	border-color: var(--main-btn-hover);
}
.carousel-caption
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.carousel-caption article
{
	font-size: 50px;
	line-height: 60px;
	font-weight: 900;
	background: var(--main-btn-hover);
	border-radius: 10px;
	color: #fff;
	margin-bottom:15px;
}
.carousel-caption p
{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	background: #3f4646;
	border-radius: 10px;
	color: #fff;
	padding: 5px 20px;
}


.intro
{
	min-height: 100px;
	padding: 20px 0;
}
.intro_main
{
	background: #ececec;
	border-radius: 10px;
}
.intro h3
{
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	color: #7f8c8c;
}
.intro p
{
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color: #777777;
}
.view_more
{
	margin-top: 30px;
	float: right;
	padding: 5px 25px;
	-moz-box-shadow: 0px 3px 0px 0px #e2534b;
	-webkit-box-shadow: 0px 3px 0px 0px #e2534b;
	box-shadow: 0px 3px 0px 0px #e2534b;
	background-color: var(--main-btn-hover);
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	transition: all .5s ease-in-out;
}
.view_more:hover, .view_more:focus
{
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.5);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.5);
	background-color: var(--main-btn-color);
	color: #fff;
}

.services
{
	min-height: 250px;
	background: transparent;
	padding: 25px 0 80px;
}

.services_box
{
	min-height: 150px;
	max-height: 300px;
	padding: 35px 15px 15px;
	background: #f8f8f8;
	border-radius: 10px;
	position: relative;
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
	transition: all .2s ease-in-out;
}
.services_box:hover
{
	background: #fff;
}
.services_box i
{
	font-size: 72px;
	text-align: center;
	display: block;
	color: #62bdbd;
	transition: all .2s ease-in-out;
}
.services_box:hover i
{
	color: var(--main-btn-hover);
}
.services_box h5
{
	font-size: 16px;
	line-height: 21px;
	font-weight: 800;
	color: #7f8c8c;
}
.services_box p
{
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color: #777777;
	margin-bottom: 70px;
}
.services_box a.read-more
{
	position: absolute;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	padding: 10px 40px;
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	background-color: #62bdbd;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	display: block;
	transition: all .5s ease-in-out;
}
.services_box a.read-more:hover, .services_box:hover a.read-more
{
	-moz-box-shadow: 0px 3px 0px 0px #e2534b;
	-webkit-box-shadow: 0px 3px 0px 0px #e2534b;
	box-shadow: 0px 3px 0px 0px #e2534b;
	background-color: var(--main-btn-hover);
}


.about
{
	min-height: 400px;
	position: relative;
}
.about_top
{
	min-height: 400px;
	background: #ececec;
	padding: 50px 0;
	position: relative;
}
.about_top:before
{
	content: url(../images/before-path.png);
	position: absolute;
	left: 0;
	top: 0;
}
.about_top article
{
	color: #e1524b;
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
}
.about_top p
{
	color: #777777;
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
}
.about-img
{
	position: absolute;
	top: 190px;
	left: 50%;
	transform: translateX(-50%);
}




